html{ 
    font-size: 1px;/*for using REM units*/
}
 
body{
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 16rem;
    font-weight: 600;
    line-height: 1.3;
    color: #222;
}