///Colors of menu
$c_header_bg: #FFFFFF;
$c_menu_bg: #F8F9FF;
$c_menu_text: #0F0F34;
$c_menu_text_inverted: #FFFFFF;
$c_menu_selected: #EFF1FF;
$c_menu_selected_stroke: #DDE1F9;
$c_menu_button: #0F0F34;
$c_menu_sublist_bg: #FFFFFF;
$c_menu_sublist_selected: #F8F9FF;
$c_menu_sublist_text: #000000;

%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-center-start{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

%flex-center-colun{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

%flex-jstbetw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%flex-jstbetwcolun{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

@import 'resets/reset', 'resets/normalize', 'resets/typography';



.header{
    @extend %flex-jstbetw;
    background-color: $c_menu_bg;
    border-radius: 25rem;
    padding: 40rem;
    margin: 30rem auto;
    width: 95vw;
}

.menu{
    &-list{
        @extend %flex-jstbetw;
    }

    &-item{

        .menu-link{
            color: $c_menu_text;
            border-radius: 15rem;
            font-weight: 600;
            text-transform: uppercase;
            padding: 17rem;
            transition: ease-out 0.3s;
        }

        &:hover,
        &:active,
        &:focus{
            .menu-link{
                background-color: $c_menu_selected;
                box-shadow: 1px 1px 1px 2px #00000014;
            }

            .menu-secondLevel{
                @extend %flex-center-start;
            }
        }
    }

    &-secondLevel{
        background-color: $c_menu_sublist_bg;
        box-shadow: 1px 1px 1px 2px #00000014;
        border-radius: 15rem;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 115rem;
        padding: 25rem;
        overflow: auto;

        &.active{
            display: flex;
        }

        .secondLevel{
            padding-right: 60rem;
            padding-bottom: 20rem;

            &-link{
                display: block;
                font-weight: 700;
                padding-bottom: 15rem;
                text-transform: uppercase;
                opacity: 1;
                transition: 0.3s ease;

                &:hover{
                    opacity: 0.6;
                }
            }

            &:last-child{
                padding-right: 0;
            }
        }

        .thirdLevel{
            &-item{
                padding-bottom: 20rem;

                &:last-child{
                    padding-bottom: 0;
                }
            }

            &-link{
                margin-left: 15rem;
                opacity: 1;
                transition: 0.3s ease;

                &:hover{
                    opacity: 0.6;
                }
            }
        }
    }
}

.account{
    

    &-log{
        text-transform: uppercase;
        font-weight: 600;
    }
    
    &-sign{
        color: $c_menu_text_inverted;
        border-radius: 5rem;
        background-color: $c_menu_button;
        text-transform: uppercase;
        font-weight: 600;
        padding: 18rem 25rem;
        margin-left: 30rem;
    }
}
